@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:wght@400;700&display=swap");
@import "../styles/general.css";
* {
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

.cart__content {
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  height: 1392.17px;
  width: 1400px;
  margin-top: 50px;
}

.cart--header {
  font-size: 27.51px;
  font-weight: 500;
  margin-bottom: 20px;
}
.cart__container {
  display: flex;
  flex-direction: column;
  margin-left: var(--margin-left-medium);

  width: var(--width-big);
  height: 182px;
}
.cart__item {
  width: 867.333px;
}
.cart__item--view {
  display: flex;
  margin-left: 21px;
  margin-top: 21px;
}
.cart__item--info {
  display: flex;
  border: 1px solid #0e0e0e2e;
  border-bottom: none;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.cart__item--title {
  margin: 0px;
  font-weight: 400;
}
.cart__item--description {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.cart__item--tag {
  display: flex;
  justify-content: left;
}
.cart__item--tag span {
  margin-top: 5px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 11px;
  background-color: #dfdfdf;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 50px;
}
.cart__item--state {
  font-size: 12.99px;
  margin-top: 18px;
  margin-bottom: 10px;
  color: #d00739;
  font-weight: 400;
}

.cart__item--choose {
  display: flex;
  align-items: center;
}

.cart__item_select {
  margin-top: 8px;
  width: 71px;
  height: 39px;
}
.cart__item_select select {
  padding-left: 12px;
  padding-right: 36px;
  width: 100%;
  height: 39px;
  background-color: white;
  border: 1px solid #0e0e0e2e;
  border-radius: 5px;
}
.cart__item--action {
  margin-left: 20px;
  margin-top: 10px;
}
.cart__item--action p {
  font-size: 12.99px;
  font-weight: bold;
}
.cart__item--price {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 29px;
  margin-top: 21px;
}
.cart__item--price p {
  font-size: 19.01px;
  font-weight: 400;
}

.cart__item--extra {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #0e0e0e2e;
  height: 56px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.cart__container--items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cart__container--content {
  display: flex;
  height: 579px;
}

.cart--summary {
  font-size: var(--font-size-standard);
  color: #000;
  margin-left: 102px;
  width: 328.75px;
}
.cart--summary p {
  font-weight: bold;
}

.cart__container_pay {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
.cart__container_pay--seperator {
  border-bottom: 1px solid #e0e0e0;
}

.cart--description {
  margin: 0;
}

.cart__container_pay p {
  margin: 0;
}
.cart__container_pay--payment {
  margin-top: 20px;
  justify-content: center;
}

.cart__container--method {
  margin-top: 10px;
}
.cart__container--coupon {
  justify-content: flex-start;
  border-radius: 24px;
  padding-left: 10px;
  transition: background-color 0.2s ease-out;
}
.cart__container--coupon:hover {
  background-color: #f4f4f4;
}
.cart__coupon--padding2px {
  padding-left: 5px;
}

.cart__container_coupon--submit {
  justify-content: flex-start;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0px;
  height: 50px;
  margin-top: 20px;
}
.cart--inputCoupon {
  height: 48px;
  width: 100%;
  border-style: solid;
  min-width: 0;
  font-size: var(--font-size-standard);
  background: 0 0;
  border-right: 0;
  border-radius: 24px 0 0 24px;
  line-height: 1.7;
  display: block;
  flex: 1;
  padding-left: 9px;
  transition: border 0.2s ease-out, background-color 0.2s ease-out;
}
.cart--inputCoupon:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #3b67d9;
}
.cart--inputCoupon:focus {
  border-color: #222;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #3b67d9;
  height: 48px;
}
.cart--submitCoupon {
  color: #222;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
  border-style: solid;
  background: 0 0;
  border-left: 0;
  border-radius: 0 24px 24px 0;
  outline: none;
  height: 48px;
  padding: 12px 21px 12px 15px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  transition: border 0.2s ease-out, color 0.2s ease-out;
  position: relative;
  text-transform: none;
}
.cart--submitCoupon:hover {
  background-color: black;
  color: white;
}
.cart__container__related--bottom {
  margin-top: 100px;
}
.cart__related--title {
  margin-bottom: 20px;
  margin-top: 50px;
  font-size: 32px;
}
.cart__container--related {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  width: 1400px;
  height: 512px;
}
.cart__item--related {
  flex: 1 1 200px;
}
.cart__item--related h3 {
  margin-top: 6px;
  margin-bottom: var(--margin-bottom-small);
  font-size: 24px;
}

.cart__item--related p {
  margin-bottom: var(--margin-bottom-small);
  font-size: 22px;
}
.cart__item--related button {
  background-color: white;
  padding: 12px;
  border-radius: 2px;
  border: 1px solid #0e0e0e2e;
  font-size: 14px;
  cursor: pointer;
}

.cart__item--related button:hover {
  background-color: black;
  color: white;
}
.cart_item__image {
  width: 241px;
  height: 138px;
}
.cart_item__image img {
  width: 241px;
  height: 138px;
  object-fit: contain;
}
