@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:wght@400;700&display=swap");
@import "../styles/general.css";
* {
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

.cart__container_pay {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
.cart__container--coupon {
  justify-content: flex-start;
  border-radius: 24px;
  padding-left: 10px;
  transition: background-color 0.2s ease-out;
}
.cart__container--coupon:hover {
  background-color: #f4f4f4;
}
.cart__coupon--padding2px {
  padding-left: 5px;
}

.cart__container_coupon--submit {
  justify-content: flex-start;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0px;
  height: 50px;
  margin-top: 20px;
}
.cart--inputCoupon {
  height: 48px;
  width: 100%;
  border-style: solid;
  min-width: 0;
  font-size: var(--font-size-standard);
  background: 0 0;
  border-right: 0;
  border-radius: 24px 0 0 24px;
  line-height: 1.7;
  display: block;
  flex: 1;
  padding-left: 9px;
  transition: border 0.2s ease-out, background-color 0.2s ease-out;
}
.cart--inputCoupon:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #3b67d9;
}
.cart--inputCoupon:focus {
  border-color: #222;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #3b67d9;
  height: 48px;
}
.cart--submitCoupon {
  color: #222;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
  border-style: solid;
  background: 0 0;
  border-left: 0;
  border-radius: 0 24px 24px 0;
  outline: none;
  height: 48px;
  padding: 12px 21px 12px 15px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  transition: border 0.2s ease-out, color 0.2s ease-out;
  position: relative;
  text-transform: none;
}
.cart--submitCoupon:hover {
  background-color: black;
  color: white;
}
.cart__container__related--bottom {
  margin-top: 100px;
}
.cart__related--title {
  margin-bottom: 20px;
  margin-top: 50px;
  font-size: 32px;
}
.cart__container--related {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  width: 1400px;
  height: 512px;
}
.cart__item--related {
  flex: 1 1 200px;
}
.cart__item--related h3 {
  margin-top: 6px;
  margin-bottom: var(--margin-bottom-small);
  font-size: 24px;
}

.cart__item--related p {
  margin-bottom: var(--margin-bottom-small);
  font-size: 22px;
}
.cart__item--related button {
  background-color: white;
  padding: 12px;
  border-radius: 2px;
  border: 1px solid #0e0e0e2e;
  font-size: 14px;
  cursor: pointer;
}

.cart__item--related button:hover {
  background-color: black;
  color: white;
}
.cart_item__image {
  width: 241px;
  height: 138px;
}
.cart_item__image img {
  width: 241px;
  height: 138px;
  object-fit: contain;
}
