@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:wght@400;700&display=swap");
* {
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

:root {
  --margin-left-standard: 145px;
  --margin-bottom-small: 6px;
  --margin-left-medium: 75px;
  --font-size-standard: 20px;
  --width-big: 929px;
}

html,
p,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #333;
}
body {
  width: 1920px;
}
.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.128);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.125);
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__navbar--left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--margin-left-medium);
}
.header__title {
  color: #000000;
  font-family: "Instrument Serif", sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: 10px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__navbar--center {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-left: 98px;
}
.header__navbar--right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 175px;
}
.header__navbar--center li {
  list-style: none;
  margin: 0 40px;
  font-size: 22px;
  font-weight: 325;
}
.header__navbar--center a {
  text-decoration: none;
  color: #000000;
}
.header__navbar--right li {
  list-style: none;
  font-size: 22px;
  vertical-align: top;
  text-align: center;
}

.header__navbar--right img {
  width: 30px;
  height: 30px;
  margin: 0 7px;
}
.header__notify {
  position: relative;
}
.header__count {
  position: absolute;
  top: 0;
  right: 0px;
  width: 7px;
  height: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
}
.cart--header {
  margin-left: var(--margin-left-standard);
  font-size: 48px;
}
.cart__container {
  display: flex;
  flex-direction: column;
  margin-left: var(--margin-left-medium);

  width: var(--width-big);
  height: 182px;
}
.cart__item--view {
  display: flex;
  margin-left: 21px;
  margin-top: 21px;
}
.cart__item--extra {
  display: flex;
  border: 1px solid #b0b0b0;
  width: var(--width-big);
  height: 56px;
}
.cart__item--info {
  display: flex;
  flex: 1.7;
  border: 1px solid #b0b0b0;
  border-bottom: none;
  justify-content: space-between;
  width: var(--width-big);
  height: 182px;
}
.cart__item--title {
  margin: 0px;
}
.cart__item--description {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.cart__item--tag {
  display: flex;
  justify-content: left;
}
.cart__item--tag span {
  margin-top: 5px;
  margin-right: 10px;
  font-size: 10px;
  background-color: #dfdfdf;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 50px;
}
.cart__item--state {
  font-size: 11px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #d00739;
}

.cart__item--choose {
  display: flex;
  align-items: center;
}

.cart__item_select {
  margin-top: 8px;
  width: 71px;
  height: 29px;
}
.cart__item_select select {
  padding-right: 10px;
  width: 71px;
  height: 29px;
  background-color: white;
  border: 1px solid #a1a1a1;
  border-radius: 3px;
}
.cart__item--action {
  margin-left: 10px;
  margin-top: 10px;
}
.cart__item--action p {
  font-size: 9px;
  text-decoration: underline;
}
.cart__item--price {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 29px;
  margin-top: 21px;
}
.cart__item--extra {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cart__item--extra p:first-of-type {
  margin-left: 21px;
  font-weight: bold;
  padding-right: 3px;
}

.cart__container--items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 21px;
}
.cart__container--content {
  display: flex;
  height: 579px;
  margin-left: var(--margin-left-medium);
}
.cart__item1 {
  margin-bottom: 70px;
}
.cart--summary {
  width: 30%;
  font-size: var(--font-size-standard);
  color: #000;
  margin-left: 102px;
  margin-top: 10px;
}

.cart__container_pay {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
.cart__container_pay--seperator {
  border-bottom: 1px solid #e0e0e0;
}

.cart--description {
  margin: 0;
}

.cart__container_pay p {
  margin: 0;
}
.cart__container_pay--payment {
  margin-top: 20px;
  justify-content: center;
}
.btn__pay--black {
  width: 100%;
  font-size: var(--font-size-standard);
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.cart__container--method {
  margin-top: 20px;
}
.cart__container--coupon {
  justify-content: flex-start;
}
.cart__coupon--padding2px {
  padding-left: 5px;
}
.cart__container_coupon--submit {
  justify-content: flex-start;
  border: 1px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0px;
  height: 50px;
}
.cart--inputCoupon {
  width: 70%;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  font-size: var(--font-size-standard);
}
.cart--submitCoupon {
  height: 100%;
  margin: 0;
  padding-left: 50px;
  background-color: white;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-left: 1px solid black;
  cursor: pointer;
  font-size: var(--font-size-standard);
}
.cart__related--title {
  margin-left: var(--margin-left-standard);

  margin-top: 50px;
  font-size: 32px;
}
.cart__container--related {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1700px;
  height: 512px;
  margin-left: var(--margin-left-standard);
}
.cart__item--related {
  margin-right: 87px;
}
.cart__item--related h3 {
  margin-top: 6px;
  margin-bottom: var(--margin-bottom-small);
  font-size: 24px;
}

.cart__item--related p {
  margin-bottom: var(--margin-bottom-small);
  font-size: 22px;
}
.cart__item--related button {
  background-color: white;
  padding: 12px;
  border-radius: 2px;
  border: 1px solid black;
  font-size: 14px;
  cursor: pointer;
}

.cart__item--related button:hover {
  background-color: black;
  color: white;
}

.footer {
  margin-top: 30px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  height: 400px;
}

.footer--section {
  flex: 1;
  text-align: center;
}

.footer--section h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.footer--section p {
  font-size: var(--font-size-standard);

  color: #555;
  line-height: 51px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 8px;
}

.icon {
  font-size: 18px;
  cursor: pointer;
}
.cart_item__image {
  width: 241px;
  height: 138px;
}
.cart_item__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
