/* Basic CSS for Sign In Page */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:wght@400;700&display=swap");
@import "../styles/general.css";
* {
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

@media (min-width: 992px) {
  .custom-lg-container {
    max-width: 400px;
  }
}

.custom__btn {
  box-shadow: 0 4px 13px rgba(41, 40, 40, 0.344);
}
