/* Basic CSS for Sign In Page */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:wght@400;700&display=swap");
@import "../styles/general.css";
* {
  font-family: "IBM Plex Sans Condensed", sans-serif;
}
@media (min-width: 992px) {
  .custom-lg-container {
    max-width: 900px;
  }
  .container-lg {
    max-width: 1400px;
    padding:12px;
  }
  .custom-lg-input{
    width:45%;
  }
}
.custom_bg--gray{
  background-color: rgb(249, 249, 249);
}