@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:wght@400;700&display=swap");
:root {
    --margin-left-standard: 145px;
    --margin-bottom-small: 6px;
    --margin-left-medium: 75px;
    --font-size-standard: 20px;
    --width-big: 929px;
  }
* {
    font-family: "IBM Plex Sans Condensed", sans-serif;
  }
  
  #logo {
    color: black;
    margin-left: 5rem;
    font-size: 37px;
    font-family: Instrument Serif;
    letter-spacing: 13px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  }
  
  #navbar {
  }
  
  .navitem__group a {
    font-size: 17px;
    letter-spacing: 1px;
    color: black;
  }
  
  .navitem__group {
    gap: 40px;
  }
  
  #search__icon {
    cursor: pointer;
  }
  
  .nav-icon {
    margin-top: 6px;
    width: 30px;
    height: 30px;
  }
  .header__icon__group {
    display: flex;
    gap: 20px;
  }
  .dropdown-menu {
    display: none;
  }
  
  .dropdown-menu:hover {
    display: block;
  }
  
  #search__icon {
    cursor: pointer;
  }
  
  .nav-icon {
    margin-top: 6px;
    width: 30px;
    height: 30px;
  }
  .navbar_nav {
  }
  .header__icon__group {
    display: flex;
    gap: 20px;
  }
  .favorite {
    position: relative;
    text-decoration: none;
  }
  .favorite__count {
    position: absolute;
    top: -1px;
    right: -6px;
    font-size: 12px;
    display: inline-block;
    color: white;
    background: black;
    border-radius: 50%;
    width: 18px;
    text-align: center;
  }
  .cart {
    position: relative;
    text-decoration: none;
  }
  .cart__count {
    position: absolute;
    top: -1px;
    right: -6px;
    font-size: 12px;
    display: inline-block;
    color: white;
    background: black;
    border-radius: 50%;
    width: 18px;
    text-align: center;
    text-decoration: none;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 20%;
    background: white;
    transition: left 0.5s ease;
    z-index: 1000;
  }
  
  .overlay.active {
    left: 0;
  }
  .overlay2 {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 45%;
    background: white;
    transition: right 0.5s ease;
    z-index: 1000;
  }
  
  .overlay2.active {
    right: 0;
  }
  .dimmer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
  }
  
  .dimmer.active {
    opacity: 1;
    pointer-events: all;
  }
/* ------------------------------------------- */
.allProduct__banner{

    background-image: url(../assets/images/blackthorn-belt-2\ \(1\).jpg);
    height: 450px;
    align-content: center;
    margin-top: 4%;
}
.allProduct__banner .title__wrapper{
}
.allProduct__banner .title{
    font-family: "IBM Plex Sans Condensed", sans-serif;
    text-align: center;
    color: aliceblue;
    font-size: 50px;
    font-weight: 200;
}
/* ---------------------------------------------- */
.function__bar{
    font-size: 18px;
    
}
.function__bar #filter__column{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: rgb(158, 158, 158) 1px solid;
    border-right: rgb(158, 158, 158) 1px solid;
}
.function__bar .breadcumb__column{
    display: flex;
    justify-content: center;
    margin-top: 0.5%;
    border-bottom: rgb(158, 158, 158) 1px solid;
}

.function__bar .sort__column{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: rgb(158, 158, 158) 1px solid;
    border-left: rgb(158, 158, 158) 1px solid;
}
.function__bar .sort__column li{
  list-style-type: none;
}
/* ------------------------------------------------------ */
.list__product a{
    text-decoration: none;
}

/* Thiết lập Flexbox cho dòng sản phẩm */
#list__product__row {
    display: flex;
    flex-wrap: wrap;
 /* Cho phép các phần tử gói lại khi không đủ không gian */
}

/* Định dạng cho từng thẻ product */
.list__product{
    margin-top: 1%;
    width: 1500px;
}
#list__product__row{
    display: flex;
}
.list__product .product{
    opacity: 1;
    z-index: 1;
    box-shadow: 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026;
    background: #fff;
    border: 1px dotted #0000;
    border-radius: 9px;
    transition: 0.2s cubic-bezier(0.345, 0.115, 0.135, 1.42), opacity 0.15s ease-out, border-color 0.2s ease-out;
}
.list__product .favorite__icon{

}
.list__product .product__image{
    display: flex;
    justify-content: center;
}
/* Định dạng cho hình ảnh */
.product__image img {
    margin-top: 2%; 
    width: 95%;
}
.product__title {
    margin-left: 3%;
}
.product .title{
    font-size: 18px;
    font-weight: 300;
}

.product__price {
    font-size: 16px;
    font-weight: 400;
}

.product__discount {
    font-size: 15px;
}
/* --------------------------------------------------------- */
#pagination__bar{
    margin-top: 3%;
}
.paginationWrapper{
    display: flex;
    justify-content: center;
}
.pagination .page-link {
    display: block;
    padding: 0.5rem 0.75rem;
    color: #007bff; /* Màu sắc */
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.Page__navigation__example .page__item{
  color:rebeccapurple;
}
.Page__navigation__example .page__item:active{
  color: white;
  background-color:#007bff;
}
/* Đổi màu khi di chuột */
.pagination .page-link:hover {
    color: white;
    background-color:#007bff;
}


