

.custom_ref{
  text-decoration: none;
  color: black;
  font-size: 28px;
  text-align: right;
  padding: 12px;
  border-radius: 5px;
}
.custom_ref:hover{
  background-color: black;
  color: white;
}
.content {
  font-size: 26px;
}