.collections__banner {
  background-image: url(../assets/images/collection-background.svg);
  background-size: container;
  background-repeat: no-repeat;
  height: 400px;
  align-content: center;
  margin-top: 4.3%;
}
.collections__banner .title {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  text-align: center;
  color: aliceblue;
  font-size: 50px;
  font-weight: 200;
}

.collection__content{
  margin-left: 100px;
}
.collection__title{
  font-size: 45px;
}
.slogan{
  text-align: center;
  font-size: 25px;
  font-weight: 300;
}