.function__bar{
    font-size: 18px;
    margin-top: 5%;
    border-bottom: rgb(158, 158, 158) 1px solid;
}
.function__bar .breadcumb__column{
    /* display: flex; */
    /* justify-content: center; */
    margin-top: 0.8%;
}
/* -------------------------------------------- */
.product__detail .detail__col{
    background-color: orangered;
    width: 100px;
    height: 10px;
}
































/* -------------------------------------------- */
.youmightlike__title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 26px;
    letter-spacing: 1px;
  }
.youmightlike__component{
}
  .mostPopular__component {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
/* 
.carousel.slide {
    max-width: 100%;
} */

.card-wrapper {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.card {
    width: 280px;
    text-align: center;
}

#carouselExampleControls3 a {
    text-decoration: none;
  }
/* -------------------------------------------- */
.viewed__title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 26px;
    letter-spacing: 1px;
  }
  #carouselExampleControls4 a {
    text-decoration: none;
  }







