@import "../signInPage.css";

.container__field__form input {
  padding-left: 10px;
  font-size: 16px;
}
.container__name--inline {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.container__field__form--extrawidth {
  width: 105%;
}
.firstname {
  width: 199%;
  margin-right: 15px;
}
.lastname {
  width: 100%;
}
#remember {
  margin-left: 0px;
}
.checkbox--left {
  margin-top: 12px;
}
.container__already--signin {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.container__already--signin a {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}
